<script src="/views/public/assets/jquery/jquery.min.js"></script>
<script src="/views/public/assets/jquery-cookie/jquery.cookie.js"></script>
<script src='/views/public/assets/artTemplate/template.js'></script>
<script src="/views/public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/views/public/assets/nprogress/nprogress.js"></script>
<script src="/views/public/js/common.js"></script>

<!--<script>    
    require.config({
        baseUrl:"/views/public/",
        paths:({
           'jquery':'assets/jquery/jquery.min',
           'cookie':'assets/jquery-cookie/jquery.cookie',
           'bootstrap':'assets/bootstrap/js/bootstrap.min',
           'template':'assets/artTemplate/template',
           'nprogress':'assets/nprogress/nprogress',
           'common':'js/common',
           'login':'js/login'
        }),
        shim:{
          'bootstrap':{
          'deps':['jquery']
          }
        }
    });

    require(['common'])-->
</script>